<!doctype html>
<html lang="en-us">

{% include "includes/html_head.peb" %}

<body>

{% include "includes/navbar.peb" %}

<article class="message is-danger mx-3 mt-3 mb-0">
    <div class="message-body has-text-centered">
        <h1>
            Notice: This website is still under development. Please report any issues at
            <a href="https://github.com/QuiltMC/developer-wiki">https://github.com/QuiltMC/developer-wiki</a>
        </h1>
    </div>
</article>

<main class="container">
    <section class="section">
        {{ body }}
    </section>
</main>

{% include "includes/footer.peb" %}

<script src="https://quiltmc.org/assets/js/bundle.js"></script>

</body>
</html>
