<!doctype html>
<html lang="en-us">

{% include "includes/html_head.peb" %}

<body>

{% include "includes/navbar.peb" %}

<div> {# Required for the grid layout (which sticks the footer at the bottom) to work #}
	<article class="message is-danger mx-3 mt-3 mb-0">
		<div class="message-body has-text-centered">
			<h1>
				Notice: This website is still under development. Please report any issues at
				<a href="https://github.com/QuiltMC/developer-wiki">https://github.com/QuiltMC/developer-wiki</a>
			</h1>
		</div>
	</article>

	<section class="section">
	    <main class="container">
	        {{ body }}
	    </main>
	</section>
</div>

{% include "includes/footer.peb" %}

<div class="modal" id="language-modal">
	<div class="modal-background" id="language-modal-background" data-action="click->languages#hide"></div>

	<div class="modal-content">
		<section class="box">
			We're not quite ready for this to be used just yet, but stay tuned!
		</section>

		<div class="is-flex is-flex-direction-row mt-3">
			<a class="button is-primary" id="language-modal-close-button" aria-label="close" data-action="click->languages#hide">
				<span class="icon"><i class="fas fa-x"></i></span>
				<span>Close</span>
			</a>
		</div>
	</div>
</div>

<script src="/bundle.js"></script>

</body>
</html>
